<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/interfases/prod/logs/ServiciosEntrada-PROD.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="70"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="DBServer" value="NDB@PROMASS-SAPHANA:30013"/>
    <add key="DBUserName" value="SYSTEM"/>
    <add key="DBPassword" value="Promass2017"/>
    <add key="CompanyDB" value="PRUEBAS_CAS"/>
    <add key="LicenseServer" value="PROMASS-SAPHANA:40000"/>
    <add key="SAPUserName" value="manager"/>
    <add key="SAPPassword" value="sapb1"/>
    <add key="PoolSessionsMin" value="1"/>
    <add key="PoolSessionsMax" value="20"/>
	<add key="CamposInformativos" value="SI"/>
	<!-- Password SAP por empresa Prodcutivo -->
	<add key="ServiceLayerUrl" value="https://promass-saphana:50000/b1s/v2" />
	<add key="SAPUser_10" value="manager" />
	<add key="SAPUser_46" value="manager" />
	<add key="SAPUser_60" value="manager" />
	<add key="SAPUser_50" value="manager" />
	<add key="SAPUser_65" value="manager" />
	<add key="SAPUser_75" value="manager" />
	<add key="SAPUser_80" value="manager" />
	  
	<add key="SAPPassword_10" value="sapb1"/>
	<add key="SAPPassword_46" value="sapb1"/>
	<add key="SAPPassword_60" value="sapb1"/>
	<add key="SAPPassword_50" value="PRot30$&amp;"/>
	<add key="SAPPassword_65" value="PRot30$&amp;"/>
	<add key="SAPPassword_75" value="PRot30$&amp;"/>
	<add key="SAPPassword_80" value="PRot30$&amp;"/>
	<!-- Password SAP por empresa Test -->

	<add key="SAPUser_99" value="manager" />
	<add key="SAPUser_200" value="manager" />
	<add key="SAPUser_201" value="manager" />
	  
	<add key="SAPPassword_99" value="AAaa11!!"/>
	<add key="SAPPassword_200" value="BBbb11!!"/>
	<add key="SAPPassword_201" value="BBbb11!!"/>    
  </appSettings>
  <connectionStrings>
    <add name="BD_SAP" connectionString="Server=promass-saphana:30015;CURRENTSCHEMA=PRUEBAS_CAS;UserID=SYSTEM;Password=Promass2017;Application Name=InterfasesSAP" providerName="Sap.Data.Hana.HanaConnection"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServiciosEntrada.DocumentosREST">
        <endpoint address="" behaviorConfiguration="ServiciosEntrada.DocumentosRESTAspNetAjaxBehavior" binding="webHttpBinding" contract="ServiciosEntrada.DocumentosREST"/>
      </service>
      <service name="ServiciosEntrada.sessionpool">
        <endpoint address="" behaviorConfiguration="ServiciosEntrada.sessionpoolAspNetAjaxBehavior" binding="webHttpBinding" contract="ServiciosEntrada.sessionpool"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiciosEntrada.DocumentosRESTAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="ServiciosEntrada.sessionpoolAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>