<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/interfases/prod/logs/ServiciosSalidaRESICO-PROD.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="70"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

    <add key="DBServer" value="promass-saphana:30015"/>
    <add key="DBUserName" value="SYSTEM"/>
    <add key="DBPassword" value="Promass2017"/>
    <add key="CompanyDB" value="CAS"/>

    <add key="LicenseServer" value="promass-saphana"/>
    <add key="SAPUserName" value="manager"/>
    <add key="SAPPassword" value="12345"/>

    <!-- Pruebas -->
    
    <!--<add key="UserNameBuzonE" value="USER@SAP.MX" />
    <add key="PasswordBuzonE" value="usersap20+" />
    <add key="RFCPromass" value="CAS981016P46" />-->
    
    <!-- Produccion -->
	  
    <add key="UserNameBuzonE" value="USER@SAP.MX"/>
    <add key="PasswordBuzonE" value="Us3rs@p*"/>
    <add key="RFCPromass" value="CAS981016P46"/>
	

  </appSettings>
  <connectionStrings>
    <add name="BD_SAP" connectionString="Server=promass-saphana:30015;CURRENTSCHEMA=CAS;UserID=SYSTEM;Password=Promass2017;Application Name=InterfasesSAP" providerName="Sap.Data.Hana.HanaConnection"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProveedorServiceImplPortBinding"/>
        <binding name="OrdenCompraServiceImplPortBinding"/>
      </basicHttpBinding>
    </bindings>
    <!-- Produccion -->	  	  
    <client>
      <endpoint address="http://o2cgpopromass.buzone.com:8230/promassservicios/ProveedorServiceImplService" binding="basicHttpBinding" bindingConfiguration="ProveedorServiceImplPortBinding" contract="buzone.proveedores.ProveedorService" name="ProveedorServiceImplPort"/>
      <endpoint address="http://o2cgpopromass.buzone.com:8230/promassservicios/OrdenCompraServiceImplService" binding="basicHttpBinding" bindingConfiguration="OrdenCompraServiceImplPortBinding" contract="buzone.ordenescompra.OrdenCompraService" name="OrdenCompraServiceImplPort"/>
    </client>
	
    <!-- Pruebas -->
      <!--<client>
          <endpoint address="http://o2cgpoprepromass.buzone.com:8230/promassservicios/ProveedorServiceImplService"
              binding="basicHttpBinding" bindingConfiguration="ProveedorServiceImplPortBinding"
              contract="buzone.proveedores.ProveedorService" name="ProveedorServiceImplPort" />
          <endpoint address="http://o2cgpoprepromass.buzone.com:8230/promassservicios/OrdenCompraServiceImplService"
              binding="basicHttpBinding" bindingConfiguration="OrdenCompraServiceImplPortBinding"
              contract="buzone.ordenescompra.OrdenCompraService" name="OrdenCompraServiceImplPort" />
      </client>-->    
  </system.serviceModel>
</configuration>
